[defaults]
inventory = /dev/null
roles_path = /nonexistent
collections_path = /nonexistent
library = /nonexistent
module_utils = /nonexistent
lookup_plugins = /nonexistent
filter_plugins = /nonexistent
test_plugins = /nonexistent
callback_plugins = /nonexistent
action_plugins = /nonexistent
strategy_plugins = /nonexistent
connection_plugins = /nonexistent
terminal_plugins = /nonexistent
cliconf_plugins = /nonexistent
netconf_plugins = /nonexistent
vars_plugins = /nonexistent
cache_plugins = /nonexistent
inventory_plugins = /nonexistent
become_plugins = /nonexistent
httpapi_plugins = /nonexistent
shell_plugins = /nonexistent
stdout_callback = minimal
bin_ansible_callbacks = False
retry_files_enabled = False
host_key_checking = True
interpreter_python = /usr/bin/python3
inject_facts_as_vars = False
allow_world_readable_tmpfiles = False
collections_on_ansible_version_mismatch = error
nocows = True

[inventory]
enable_plugins = host_list
unparsed_is_failed = True

[privilege_escalation]
become = False

[galaxy]
ignore_certs = False
